@{
    var link = @Guid.NewGuid();
} 

<input hidden id="TableId" value="@link"/>
    <input id="TableName"/>
    <a href="/Table/QrLink/@link"> <input value="Create" class="btn btn-dark" id="submit" type="submit"/></a>

@section Scripts{
    <script src="~/js/Tables.js"></script>
}