
﻿<input id="access" value="@ViewBag.access_token" hidden />
<input hidden id="Id" value="@Model"/>
<input hidden value="@ViewBag.access_token" id="access"/>
<input id="TableName" type="text"/>
@*<a asp-controller="Table" asp-action="Tables">*@<input class="btn btn-dark" type="submit" id="submit" />@*</a>*@




@section Scripts{
    <script src="~/js/EditTable.js"></script>
}