

<div class="container-fluid">
    <h1 class="text-center">Hello, we have a good menu for you:</h1>
</div>

<div class="container-fluid">
    <div id="menuPage" class="row d-flex">

    </div>
</div>

@section Scripts
{
    <script src="../js/Menu.js"></script>
}