@{
    Layout = "_AdminLayout";
}
<div>
    <div class="col-lg-12 mt-5 pt-5">
        <h2 class="section-title">Waiter tables</h2>
        <div><a asp-controller="Table" asp-action="create" class="basic-button col-1">Add</a></div>
        <h5 class="danger-text">@TempData["Error"]</h5>
        <div class="overflow-auto text-nowrap">
            <table class="table basic-table">
                <thead class="table-headers">
                    <tr>
                        <th>
                            @Html.Label("Id")
                        </th>
                        <th>
                            @Html.Label("Name")
                        </th>

                        <th>
                            @Html.Label("Active")
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbody" class="table-records">

                    <tr>
                        <td>
                            Table id
                        </td>
                        <td>
                            Table name
                        </td>
                        <td>
                            Waiter name
                        </td>


                        <td class="crud-block">
                            <a asp-controller="Table" asp-action="Edit" asp-route-id="3" class="basic-link">Edit</a> |
                            <a asp-controller="Table" asp-action="Delete" asp-route-id="3" class="basic-link">Delete</a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="../js/TableGet.js"></script>
}





@section Scripts{
    <script src="../js/TableGet.js"></script>
}