@{
    Layout = "_WaiterLayout";
    ViewData["Title"] = "Waiter panel";
}

<div>
    <div class="col-lg-12 mt-5 pt-5">
        <h2 class="section-title">Waiter tables</h2>
        
        <h5 class="danger-text">@TempData["Error"]</h5>
        <div class="overflow-auto text-nowrap">
            <table class="table basic-table">
                <thead class="table-headers">
                    <tr>
                       
                        <th>
                            @Html.Label("Name")
                        </th>

                        <th>
                            @Html.Label("Active")
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody id="tbody" class="table-records">
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="../js/WaiterTableGet.js"></script>
}