@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_WaiterLayout";
}


<div class="vh-100 vw-100 btn-group-vertical">
    <div class="container vw-100 text-center">
        <h1>@Localizer["Hello to the waiter panel!"]</h1>
    </div>
</div>




