<div class="vh-100">
    <div class="btn-group-vertical">
        <div class="text-center">
        <h1>Thank you for order!</h1><br />
            <h2>waiter already notified</h2>
        </div>
    </div>
</div>