
<form method="post">
    <input id="Id" hidden value="@Guid.NewGuid()" />
    <input id="DishName"/>
    <input id="Description"/>
    <input id="DishPrice"/>
<input id="submit" type="submit" />
</form>

