@{
    Layout = "_AdminLayout";
}

<div class="container-fluid mt-5 pt-5">
    <table>
        <tbody>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Price</td>
            </tr>
            <tr>
                <td>Test Id</td>
                <td>Test name</td>
                <td>Test price</td>
                <td>
                    <button class="btn btn-accept" asp-controller="" asp-action="">Edit</button>
                </td>
                <td>
                    <button class="btn btn-danger" asp-controller="" asp-action="">Delete</button>
                </td>
            </tr>
            
        </tbody>
        
        
    </table>
</div>

